[submodule "vim/pack/plugins/start/vim-polyglot"]
	path = vim/pack/plugins/start/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "vim/pack/plugins/start/vimwiki"]
	path = vim/pack/plugins/start/vimwiki
	url = https://github.com/vimwiki/vimwiki
[submodule "vim/pack/plugins/start/markdown-preview.nvim"]
	path = vim/pack/plugins/start/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim
[submodule "vim/pack/plugins/start/vim-go"]
	path = vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/pack/plugins/start/taskwiki"]
	path = vim/pack/plugins/start/taskwiki
	url = https://github.com/tools-life/taskwiki
